<!DOCTYPE html>
<html>
<head>
    <title>Greet App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Simple Flask Greet App</h2>
    <button id="greetBtn">Greet</button>
    <p id="result"></p>
</div>

<script>
    document.getElementById("greetBtn").addEventListener("click", async function () {
        const res = await fetch("/api/greet");
        const data = await res.json();
        document.getElementById("result").innerText = data.message;
    });
</script>

</body>
</html>
